# Binarios y compilacion
*.o
*.bin
*.elf
*.sys
*.img
packedKernel.bin
kernel.bin

# Imagenes del SO
Image/*.img
Image/*.vmdk
Image/*.qcow2

# Editores e IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs y archivos temporales
*.log
.gdb_history

# Sistema Operativo (WINDOWS)
*:Zone.Identifier

# Documentacion
docs/